/* File: css/style.css */
/* Este arquivo é para estilos globais ou customizações que não são facilmente feitas com Tailwind CSS. */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Exemplo de uma classe personalizada que você pode usar */
.custom-shadow {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


